section.advantages
    .container.advantages__container
        h2 Наши преимущества
        .advantages__list
            //- .advantages__border
            .advantages__item
                svg(width="100" height="100")
                    use(xlink:href="img/sprite.svg#advantages1")
                .advantages__text
                    span <strong>Большой ассортимент.</strong> Более 1000 товаров
            //- .advantages__border
            .advantages__item
                svg(width="100" height="100")
                    use(xlink:href="img/sprite.svg#advantages2")
                .advantages__text
                    span <strong>Цены ниже,</strong> чем у конкурентов на 20%
            //- .advantages__border
            .advantages__item
                svg(width="100" height="100")
                    use(xlink:href="img/sprite.svg#advantages3")
                .advantages__text
                    span <strong>Бесплатная доставка</strong> по Москве от 1000₽
            //- .advantages__border