section.cart
    .container.cart__container
        h2 Корзина
        //- form.woocommerce-cart-form(action="http://ralibaev1.beget.tech/cart/" method="post")
	        //- table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents(cellspacing="0")
                //- <thead>
                //-     <tr>
                //-         <th class="product-remove"><span class="screen-reader-text">Удалить товар</span></th>
                //-         <th class="product-thumbnail"><span class="screen-reader-text">Миниатюра</span></th>
                //-         <th class="product-name">Товар</th>
                //-         <th class="product-price">Цена</th>
                //-         <th class="product-quantity">Количество</th>
                //-         <th class="product-subtotal">Подытог</th>
                //-     </tr>
                //- </thead>
		        //- <tbody>
			    //-     <tr class="woocommerce-cart-form__cart-item cart_item">
				//- 		<td class="product-remove">
				//- 			<a href="http://ralibaev1.beget.tech/cart/?remove_item=98f13708210194c475687be6106a3b84&amp;_wpnonce=14363dbd04" class="remove" aria-label="Удалить эту позицию" data-product_id="20" data-product_sku="">×</a>
                //-         </td>
				//- 		<td class="product-thumbnail">
				//- 		    <a href="http://ralibaev1.beget.tech/product/alfaparf-milano-sdl/"><img width="150" height="150" src="http://ralibaev1.beget.tech/wp-content/uploads/2023/03/popular3-150x150.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" loading="lazy" srcset="http://ralibaev1.beget.tech/wp-content/uploads/2023/03/popular3-150x150.jpg 150w, http://ralibaev1.beget.tech/wp-content/uploads/2023/03/popular3-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px"></a>
                //-         </td>
				//- 		<td class="product-name" data-title="Товар">
				//- 		    <a href="http://ralibaev1.beget.tech/product/alfaparf-milano-sdl/">ALFAPARF MILANO sdl</a>
                //-         </td>
				//- 		<td class="product-price" data-title="Цена">
				//- 			<span class="woocommerce-Price-amount amount">
                //-                 <bdi>1819,00&nbsp;<span class="woocommerce-Price-currencySymbol">₽</span></bdi>
                //-             </span>
                //-         </td>
				//- 		<td class="product-quantity" data-title="Количество">
				//- 		    <div class="quantity">
		        //-                 <label class="screen-reader-text" for="quantity_6422dd949add8">Количество товара ALFAPARF MILANO sdl</label>
	            //-                 <input type="number" id="quantity_6422dd949add8" class="input-text qty text" name="cart[98f13708210194c475687be6106a3b84][qty]" value="1" title="Кол-во" size="4" min="0" max="" step="1" placeholder="" inputmode="numeric" autocomplete="off">
	            //-             </div>
				//- 		</td>
				//- 		<td class="product-subtotal" data-title="Подытог">
				//- 			<span class="woocommerce-Price-amount amount"><bdi>1819,00&nbsp;<span class="woocommerce-Price-currencySymbol">₽</span></bdi></span>
                //-         </td>
				//- 	</tr>
			    //-     <tr>
				//-         <td colspan="6" class="actions">
				//- 			<div class="coupon">
				//- 			    <label for="coupon_code" class="screen-reader-text">Купон:</label>
                //-                 <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Код купона">
                //-                 <button type="submit" class="button wp-element-button" name="apply_coupon" value="Применить купон">Применить купон</button>
				//- 			</div>
				//- 	        <button type="submit" class="button wp-element-button" name="update_cart" value="Обновить корзину" disabled="" aria-disabled="true">Обновить корзину</button>
				//- 	        <input type="hidden" id="woocommerce-cart-nonce" name="woocommerce-cart-nonce" value="14363dbd04"><input type="hidden" name="_wp_http_referer" value="/cart/">
                //-         </td>
			    //-     </tr>
				//- </tbody>