section.catalog
    .container.catalog__container
        h2 Каталог товаров
        .catalog__list
            .catalog__item
                .catalog__img
                    picture
                        source(type="image/webp" srcset="img/catalog__item1.webp")
                        img(src="img/catalog__item1.jpg" width="380" height="380" alt="")
                .catalog__text
                    h3 Оборудование
            .catalog__item
                .catalog__img
                    picture
                        source(type="image/webp" srcset="img/catalog__item2.webp")
                        img(src="img/catalog__item2.jpg" width="380" height="380" alt="")
                .catalog__text
                    h3 Косметика
            .catalog__item
                .catalog__img
                    picture
                        source(type="image/webp" srcset="img/catalog__item3.webp")
                        img(src="img/catalog__item3.jpg" width="380" height="380" alt="")
                .catalog__text
                    h3 Парфюмерия