section.main-slider
    .container.main-slider__container
        .main-slider__text
            h1 Добро пожаловать<br> в магазин
            span Covri- это интернет-магазин, где представлен полный спектр профессиональной косметики ведущих мировых производителей – от косметических средств до техники и сопутствующих.