.advantages {
    color: white;
    background-color: black;
    &__container {
        padding-top: 180px;
        padding-bottom: 180px;
        h2 {
            margin-bottom: 60px;
        }
        @media (max-width: $tablet-max) {
            padding-top: 120px;
            padding-bottom: 120px;
            h2 {
                margin-bottom: 45px;
            }
        }
        @media (max-width: $phone-max) {
            padding-top: 60px;
            padding-bottom: 60px;
            h2 {
                margin-bottom: 30px;
                text-align: center;
            }
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        height: 200px;
        @media (max-width: $phone-max) {
            flex-direction: column;
            align-items: center;
            height: auto;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% / 3);
        box-sizing: border-box;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        &:last-child {
            border-right: 1px solid rgba(255, 255, 255, 0.3);
        }
        svg {
            margin-bottom: 20px;
        }
        @media (max-width: $phone-max) {
            width: 280px;
            margin-bottom: 20px;
            border: none;
            &:last-child {
                margin-bottom: 0;
                border: none;
            }
        }
    }
    &__text {
        span, span strong {
            display: block;
            text-align: center;
        }
    }
    &__border {
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.3);
    }
}