.catalog {
    margin: 180px 0;
    h2 {
        margin-bottom: 60px;
    }
    @media (max-width: $tablet-max) {
        margin: 120px 0;
        h2 {
            margin-bottom: 45px;
        }
    }
    @media (max-width: $phone-max) {
        margin: 60px 0;
        h2 {
            margin-bottom: 30px;
            text-align: center;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        @media (max-width: $phone-max) {
            grid-template-columns: none;
            grid-template-rows: repeat(3, 1fr);
            justify-content: center;
        }
    }
    &__item {
        @media (max-width: $phone-max) {
            width: 280px;
            margin-bottom: 20px;
        }
    }
    &__img {
        margin-bottom: 20px;
        line-height: 0;
    }
    &__text {
        padding-top: 8px;
        border-top: 1px solid rgba(24, 24, 24, 0.3);
        h3 {
            margin: 0;
            font-weight: 600;
            font-size: 18px;
            line-height: 1.4;
            color: black;
        }
    }
}