.catalog {
    margin: 180px 0;
    h2 {
        margin-bottom: 60px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    }
    &__img {
        margin-bottom: 20px;
        line-height: 0;
    }
    &__text {
        padding-top: 8px;
        border-top: 1px solid rgba(24, 24, 24, 0.3);
        h3 {
            margin: 0;
            font-weight: 600;
            font-size: 18px;
            line-height: 1.4;
        }
    }
}