footer.footer
    .container.footer__container
        .footer__column-list
            .footer__logo
            .footer__column
                h3 Интернет-магазин
                ul
                    li
                        a(href="#") Главная
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Каталог
                    li
                        a(href="#") Контакты
            .footer__column
                h3 Контакты
                ul
                    li +7(800)123-45-56
                    li г. Москва, Варшавское шоссе, д.125
            .footer__column.footer__column--priem
                span Прием заказов в интернет-магазине 24 часа!
        .footer__copyright
            span © 2022 Тестовая работа. Все права защищены